/* I am sooooo sorry for the mess of sizes and units. I can't be bothered to make it responsive at this moment */

@font-face {
  font-family: myMono;
  src: url(fonts/SourceCodePro.ttf);
}
@font-face {
  font-family: mySans;
  src: url(fonts/NotoSans.ttf);
}
